

<header class="p-auto mb-3 border-bottom navbar-dark sticky-top bg-dark  shadow">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-5" href="#">Loan Manager</a>
      <button class="navbar-toggler  d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Inventory</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Customers</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Products</a></li>
      </ul>



      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 w-auto" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>


      <div class="dropdown text-end">
        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle px-3" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" >

          <li><a class="dropdown-item" href="settings">Settings</a></li>
          <li><a class="dropdown-item" href="activity">Activity</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="logout">Sign out</a></li>
        </ul>
      </div>
      </div>
      </div>

</header>

