<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Dashboard</h1>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">68</h5>
          <p class="card-text">Customers</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">69</h5>
          <p class="card-text">Total Loans</p>

        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">70</h5>
          <p class="card-text">Approved Loans</p>

        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">71</h5>
          <p class="card-text">Pending Loan</p>

        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">71</h5>
          <p class="card-text">Risk Loans</p>

        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">73</h5>
          <p class="card-text">Total Receivables</p>

        </div>
      </div>
    </div>
  </div>


  <h5 class="mt-5"> Recent Loans</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Loan ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Loan Type</th>
        <th scope="col">Last Payment</th>
        <th scope="col">Payment Due</th>
        <th scope="col">Loan Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Otto</td>
        <td>Loan Type1</td>
        <td>Last Payment1</td>
        <td>Payment due1</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Otto</td>
        <td>Loan Type1</td>
        <td>Last Payment1</td>
        <td>Payment due1</td>
        <td>Active</td>
      </tr>

    </tbody>
  </table>


  <h5 class="mt-5"> Recent Customers</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Customer id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col"> Phone Number</th>
        <th scope="col"> Email Address</th>
        <th scope="col"> Address</th>
        <th scope="col"> Department</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>577457646543</td>
        <td>mark@gmail.com</td>
        <td>New York</td>
        <td>New York</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>577457646543</td>
        <td>mark@gmail.com</td>
        <td>New York</td>
        <td>New York</td>
      </tr>
      
    </tbody>
  </table>
