<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Loans</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button> -->
      <button type="button" class="btn btn-sm btn-outline-secondary">Add New Loan</button>
    </div>
  </div>
  </div>


  <div class="container ">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 w-auto" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
      <button type="button" class="btn btn-sm btn-outline-secondary m-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter">
          <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/>
        </svg>
      </button>

      <button type="button" class="btn btn-sm btn-outline-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
          <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>

    </div>



  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Loan ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Loan Type</th>
        <th scope="col">Installments</th>
        <th scope="col">ROI</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Pending Amount</th>
        <th scope="col">Loan Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Otto</td>
        <td>Loan Type1</td>
        <td>Installments1</td>
        <td>ROI1</td>
        <td>Total Amount1</td>
        <td>Pending Amount1</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Otto</td>
        <td>Loan Type1</td>
        <td>Installments1</td>
        <td>ROI1</td>
        <td>Total Amount1</td>
        <td>Pending Amount1</td>
        <td>Active</td>
      </tr>

    </tbody>
  </table>
</div>
